version: 2
jobs:
  build:
    machine
  deploy:
    machine:
      enabled: true
    steps:
    steps:
      - add_ssh_keys:
          fingerprints:
            - "09:38:a2:16:90:75:63:83:4a:fe:79:41:28:c9:2f:3a"
      - run:
          name: Deploy Over SSH
          command: |
            - scp -r * comi9@require.ro:/var/www/html/
