version: 2
jobs:
   build:
     docker:
       - image: circleci/node:latest
     steps:
      - add_ssh_keys:
          fingerprints:
            - "09:38:a2:16:90:75:63:83:4a:fe:79:41:28:c9:2f:3a"
      - run: echo "WE'RE ONLINE"        
      - run: scp -r * comi9@require.ro:/var/www/html/
      - run: echo "Completed"
      
workflows:
  version: 2
  deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
