version: 2
jobs:
   build:
     docker:
       - image: circleci/node:latest
     steps:
      - add_ssh_keys:
          fingerprints:
            - "	3a:e5:07:95:dc:a4:e5:06:09:8c:23:ed:d1:cb:c5:cb"
      - run: echo "WE'RE ONLINE"        
      - run: scp -r -o StrictHostKeyChecking=no * comi9@require.ro:/var/www/html/
      - run: echo "Completed"
      
workflows:
  version: 2
  deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
