version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.4.1-jessie
  deploy-job:
    steps:
      - add_ssh_keys:
          fingerprints:
            - "8e:6a:64:5f:31:be:40:a0:9c:b4:d2:90:35:78:e7:50"
      - run: echo "WE'RE ONLINE"        
      - run: scp -r -o StrictHostKeyChecking=no * comi9@require.ro:/var/www/html/
      - run: echo "Completed"
      
workflows:
  version: 2
  deploy-job:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
